<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %> 



<body class="bg-secondary">
    <%- include("./partials/navbar.ejs") %> 
    
    
    
        <h1 class="text-center bg-primary text-black display-1 mb-1 pb-2">All Blogs</h1>
        
      
        <div class="">
    <% if(blogs.length > 0) { %>
        <% blogs.forEach((blog => { %>

           <div class="card m-3">
            <a href="/blogs/<%= blog._id%>" class="text-reset text-decoration-none">
                <h2 class="title m-2 text-black "><%= blog.title %></h2>
                <h4 class="snippet m-3 pb-2 text-black"><%= blog.snippet%></h4>

            </a>
           </div>
           
           
            <!-- <p class="body"><%= blog.body%></p> -->
        
        <% })) %>
    <% } else { %>
        <div class="m-5 text-center">
            <h1>There is no Blog to Display!!!</h1>

        </div>
        
    <% } %> 
    
    
    
   </div>

</body>
<%- include("./partials/footer.ejs") %> 
</html>