<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %> 



<body>
    <%- include("./partials/navbar.ejs") %> 
    
    
    <div class="container-fluid">
        <h2>All Blogs</h2>
      
 
    
          
                <h1 class="title"><%= blog.title %></h1>
               <div class="container-fluid">
                <p class="body"><%= blog.body%></p>

               </div>           
            
     
    
    
    
   </div>

</body>
<%- include("./partials/footer.ejs") %> 
</html>